<template name="App_Not_Found">
  <div class="ui landing-page-splash centered middle aligned"
       style="background-image:url('/images/404-tomato-not-found.jpeg'); background-position: centered; background-size:100% 100%; height: 800px;">
    <div class="ui centered middle aligned one row one grid container">
      <div class="ui middle aligned centered column" style="margin-top: 250px;">
        <div class="ui list">
          <div class="ui text item" style="color: white; font-size: 86px">404 Page Not Found!</div>
          <div class="ui text item" style="color: white; font-size: 48px">It seems we couldn't find the page you wanted!</div>
          <div class="ui text item" style="color: white; font-size: 24px">This makes the tomato sad... aside from the whole... ketchup thing...</div>
        </div>
      </div>
    </div>
  </div>
</template>