<template name="Footer">
  <div class="footer-header" style="  margin-top: 100px; background-color: #FFFFFF; color: #757575; height: 250px">
    <div class="ui centered top aligned column grid container">
      <div class="left aligned eight wide column">
        <div class="ui list">
          <div class="item">
            Some copyright junk filler for now.
            <hr>
          </div>
          <div class="item">Made by the Taste of Manoa team.</div>
          <div class="item">ICS 314, Spring 2017</div>
        </div>
      </div>
      <div class="three wide socialmedia column">
        <div class="ui list">
          <div class="item">
            Tell us what you think!
            <hr>
          </div>
          <div class="ui inline icons">
            <i class="large inverted facebook f icon" style="color:#757575"></i>
            <i class="large inverted twitter icon" style="color:#757575"></i>
            <i class="large inverted instagram icon" style="color:#757575"></i>
            <i class="large inverted mail square icon" style="color:#757575"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>