<template name="Tastes_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Taste(s)</label>
    <select multiple="" class="ui dropdown" name="tastes">
      <option value="">Select Taste(s)</option>
        <option value="anchovies">Anchovies</option>
        <option value="bacon">Bacon</option>
        <option value="cheese">Cheese</option>
        <option value="dry">Dry</option>
        <option value="energy_boost">Energy Boost</option>
    </select>
  </div>
</template>